@import url('../root.css');

#guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    margin-top: 3em;
    color: #fff;
    font-family: var(--guide-font);
  }

#guide > .wrapper {
    border: var(--deux-color) 1px solid;
    border-radius: 5px;
}  
  #guide h2 {
    text-align: center;
  }
  
  #guide ul {
    list-style: none;
    padding: 0;
  }
  
  #guide li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 1.2em;
    margin-left: 1%;
  }
