@import url('../root.css');

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--logo-font);
    margin-top: 1%;
    padding-bottom: 10px;
    user-select: none;
}

.logo>#logo-text {
    color: var(--accent-color);
    font-size: 3em;
    margin-right: 0.2em;
    font-family: var(--logo-font);
}

#logo-text>#version {
    color: var(--version-color);
    margin-left: 0.2em;
    font-size: 0.5em;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--logo-font);
    color: bisque;
    font-size: 1.2em;
    margin-bottom: 1%;
    user-select: none;
}