.img-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1%;
}

.img-container img {
    margin-top: 1em;
    width: 2.5em;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.input-data,
.output-data {
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
}

textarea {
    margin: auto;
    display: block;
    font-size: 1rem;
    resize: none;
    width: 30rem;
    height: 10rem;
    border: #080402 1px solid;
    border-radius: 5px;
    background-color: #f8f8f8;
    padding-left: 5px;
}