@import url('root.css');

body {
    font-family: var(--casual-font);
    background-size: cover;
    background-position: center;
}

button {
    font-family: 'Bitter', serif;
    font-size: 1.25em;
    width: 2em;
}
