.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.input-data, .output-data {
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
}

textarea {
    margin: auto;
    display: block;
    font-size: 1rem;
    resize: none;
    width: 30rem;
    height: 10rem;
    border: #080402 1px solid;
    border-radius: 10px;
    background-color: #f8f8f8
}